# Worldwide Living Cost Comparison

In [1]:
import requests

# Fetch the page content
url = 'https://www.worlddata.info/cost-of-living.php'
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    print('OK')
else:
    print('Failed to fetch the page content')
    print(f'Status code: {response.status_code}')

OK

In [2]:
from bs4 import BeautifulSoup

# Parse the page content
soup = BeautifulSoup(response.content, 'html.parser')
table = soup.find_all('table')

# Check if the page content was empty
if table == None:
    print('Failed to parse the page content')
else:
    # Parse the table
    soup = BeautifulSoup(str(table), 'html.parser')

    # Extract table headers
    headers = [header.text for header in soup.find_all('th')]
    print(f'Number of headers: {len(headers)}')

    # Extract table data
    data = [datum.text for datum in soup.find_all('td')]
    print(f'Number of data: {len(data)}')

Number of headers: 5
Number of data: 550

In [3]:
import pandas as pd

# Create table headers
df = pd.DataFrame(columns=headers)

# Create table data
for i in range(0, len(data), len(headers)):
    # Change data types
    series = []
    series.append(int(data[i]))
    series.append(str(data[i + 1]))
    series.append(float(data[i + 2]))
    series.append(int(data[i + 3][:-4].strip().replace(',', '')))
    series.append(float(data[i + 4]))

    df.loc[len(df)] = series

# Print the table
print(f'Table shape: {df.shape}')
print(df.to_string(index=False))

Table shape: (110, 5)
 Rank             Country/Region  Cost index  Ø Monthly income  Purchasing power index
    1                  Bermuda *       144.1             11220                   116.4
    2           Cayman Islands *       140.1              5733                    61.2
    3 Turks and Caicos Islands *       131.7              2214                    25.1
    4                Switzerland       126.1              7930                    94.0
    5                   Barbados       123.2              1773                    21.5
    6                    Bahamas       113.5              2666                    35.1
    7                    Iceland       113.0              6653                    88.0
    8                     Israel       105.3              4585                    65.1
    9            New Caledonia *       104.7              3114                    44.5
   10                    Denmark       103.9              6113                    87.9
   11                    Ireland       102.7              6699                    97.4
   12           Virgin Islands *       101.0              1161                    17.2
   13                      Palau       100.0              1188                    17.7
   14              United States       100.0              6692                   100.0
   15                    Vanuatu        99.6               305                     4.6
   16                 Luxembourg        97.5              7364                   112.9
   17                  Australia        96.4              5262                    81.6
   18                New Zealand        94.3              4051                    64.2
   19             United Kingdom        92.9              3983                    64.1
   20                     Norway        90.8              8538                   140.6
   21                     Canada        90.7              4494                    74.1
   22                    Finland        90.2              4449                    73.7
   23                    Lebanon        87.2               312                     5.3
   24                Netherlands        85.6              5056                    88.3
   25                    Belgium        83.7              4544                    81.1
   26                     Sweden        82.4              5138                    93.2
   27                    Austria        80.9              4589                    84.8
   28                     France        79.8              3756                    70.4
   29                    Germany        79.5              4498                    84.6
   30                  Singapore        78.0              5883                   112.7
   31                      Qatar        76.9              5839                   113.5
   32                Hong Kong *        75.5              4600                    91.1
   33                      Japan        74.7              3253                    65.0
   34       United Arab Emirates        72.1              4441                    92.1
   35                      Italy        71.8              3183                    66.3
   36                South Korea        71.5              2958                    61.8
   37                    Estonia        71.0              2270                    47.8
   38                      Spain        67.3              2682                    59.6
   39                 Costa Rica        67.2              1154                    25.7
   40                    Macao *        66.5              3662                    82.3
   41                    Czechia        64.6              2259                    52.2
   42                   Portugal        63.5              2189                    51.6
   43                     Greece        63.2              1882                    44.5
   44                      Haiti        60.9               145                     3.6
   45                     Mexico        60.7              1008                    24.8
   46                      Chile        58.5              1318                    33.7
   47                    Croatia        55.0              1723                    46.8
   48                    Hungary        54.9              1652                    44.9
   49                      China        51.5              1117                    32.4
   50               Saudi Arabia        50.8              2391                    70.4
   51                     Brazil        49.8               756                    22.7
   52                   Honduras        49.4               242                     7.3
   53                     Serbia        49.1               836                    25.5
   54                El Salvador        49.0               410                    12.5
   55                    Albania        47.9               631                    19.7
   56                     Poland        47.8              1644                    51.4
   57                 Montenegro        46.5               958                    30.8
   58                    Ecuador        45.6               543                    17.8
   59                 East Timor        44.6               178                     6.0
   60                  Guatemala        44.4               465                    15.7
   61                    Romania        43.6              1389                    47.6
   62                   Bulgaria        43.3              1205                    41.6
   63                     Brunei        41.8              2914                   104.2
   64               South Africa        41.2               563                    20.4
   65                    Morocco        40.6               308                    11.3
   66                       Iraq        40.5               467                    17.2
   67                   Ethiopia        38.1                94                     3.7
   68                Philippines        37.2               353                    14.2
   69                   Colombia        36.9               573                    23.2
   70                   Cambodia        36.7               151                     6.1
   71                 Kazakhstan        36.6               912                    37.2
   72                      Ghana        33.8               195                     8.6
   73                  Indonesia        33.7               406                    18.0
   74                   Cameroon        33.7               138                     6.1
   75                     Russia        33.7              1188                    52.7
   76                     Zambia        33.6               110                     4.9
   77                   Eswatini        33.5               322                    14.3
   78                      Benin        33.5               120                     5.4
   79                    Bolivia        32.9               300                    13.6
   80                    Nigeria        32.4               161                     7.4
   81                    Lesotho        32.2                97                     4.5
   82                   Thailand        32.2               598                    27.8
   83                   Malaysia        32.2               998                    46.4
   84                      Kenya        31.4               176                     8.4
   85                 Azerbaijan        31.3               557                    26.6
   86                   Mongolia        31.1               413                    19.8
   87                 Kyrgyzstan        31.1               142                     6.8
   88                 Mauritania        30.9               179                     8.7
   89                     Turkey        30.8               971                    47.1
   90                    Algeria        30.7               413                    20.1
   91                    Georgia        30.4               557                    27.3
   92                    Vietnam        29.8               348                    17.4
   93                 Tajikistan        29.7               120                     6.0
   94                    Tunisia        29.6               314                    15.8
   95                    Belarus        29.3               648                    33.0
   96                 Bangladesh        28.5               238                    12.5
   97                    Ukraine        28.4               423                    22.2
   98                  Sri Lanka        27.5               295                    16.0
   99                   Tanzania        27.1               101                     5.6
  100                      Nepal        26.3               114                     6.5
  101                 Uzbekistan        25.6               197                    11.5
  102                     Bhutan        25.3               299                    17.7
  103                       Laos        25.2               177                    10.5
  104                   Suriname        24.5               447                    27.3
  105                      Libya        24.4               631                    38.7
  106                    Myanmar        23.8               101                     6.3
  107                      India        23.6               212                    13.4
  108                   Zimbabwe        22.5               145                     9.6
  109                   Pakistan        21.3               125                     8.8
  110                      Egypt        18.2               325                    26.7

In [4]:
# Query Vietnam data
vietnam_data = df[(df['Country/Region'] == 'Vietnam')]
vietnam_income = vietnam_data['Ø Monthly income'].to_numpy()[0]
vietnam_ppi = vietnam_data['Purchasing power index'].to_numpy()[0]
highest_ppi = df['Purchasing power index'].max()

# What is the expected monthly income in Vietnam to reach the highest purchasing power index?
expected_income = vietnam_income * highest_ppi / vietnam_ppi
print(f'The expected monthly income in Vietnam to reach the highest purchasing power index: {expected_income}')

The expected monthly income in Vietnam to reach the highest purchasing power index: 2812.0